# Belajar Bareng EMF  


## Python

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
* Nested Statement
* args, kwargs

## Data types

### Numbers
Python memiliki berbagai "tipe" angka. Antaralain bilangan bulat dan angka floating point.

Bilangan bulat terdiri dari bilangan bulat positif dan negatif. Sebagai contoh: 2 dan -2 adalah contoh bilangan bulat.

Floating point di Python penting karena mereka memiliki desimal di dalamnya, atau menggunakan eksponensial (e) untuk menentukan angka. 2.0 dan -2.1 adalah contoh angka floating point. 4E2 (4 kali 10 pangkat 2) juga merupakan contoh angka floating point di Python.

Kita bisa menggunakan operasi bilangan seperti + (penjumlahan), - (pengurangan), / (pembagian), *(perkalian), dll

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment
Kita menggunakan tanda sama dengan tunggal untuk menetapkan label ke suatu variabel. Aturan penamaan variabel:
* nama tidak dapat dimulai dengan angka
* nama tidak boleh berisi spasi, gunakan _ intead
* nama tidak dapat mengandung simbol-simbol ini:

       : '", <> /? | \! @ #% ^ & * ~ - +
       
* lebih baik nama ditulis dengan huruf kecil dengan garis bawah
* hindari menggunakan kata kunci bawaan Python seperti `list` dan` str`
* hindari menggunakan karakter tunggal `l` (huruf kecil el),` O` (huruf besar oh) dan `I` (mata huruf besar) karena mereka dapat dikacaukan dengan` 1` dan `0`

In [8]:
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

### Strings
String digunakan dalam Python untuk merekam informasi teks, seperti nama. String dalam Python sebenarnya adalah *urutan*, yang pada dasarnya berarti Python melacak setiap elemen dalam string sebagai urutan. Misalnya, Python memahami string "halo 'menjadi urutan huruf dalam urutan tertentu. Ini berarti kita akan dapat menggunakan pengindeksan untuk mengambil huruf tertentu (seperti huruf pertama, atau huruf terakhir).

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [14]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [15]:
# Menginisialisasi string
s = 'Hello World'
# Mengambil huruf pertama
s[0]

'H'

In [16]:
# Mengubah semua huruf menjadi besar
s.upper()

'HELLO WORLD'

### Printing - String Formating
Cara yang lebih baik untuk memformat objek ke string Anda untuk pernyataan cetak adalah dengan metode string `.format()`. Sintaksnya adalah:

     'String di sini {} lalu juga {}'. Format ('something1', 'something2')
    
Sebagai contoh:

In [17]:
x = 'hello'

In [18]:
x

'hello'

In [19]:
print(x)

hello

In [20]:
num = 12
name = 'Sam'

In [21]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [22]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists
List dapat ditulis sebagai daftar nilai yang dipisahkan koma (item) antara tanda kurung siku.

In [23]:
[1,2,3]

[1, 2, 3]

In [24]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [25]:
my_list = ['a','b','c']

In [26]:
# Menambah 'd' dalam my_list
my_list.append('d')

In [27]:
my_list

['a', 'b', 'c', 'd']

In [28]:
# Mendapatkan elemen pertama dalam my_list
my_list[0]

'a'

In [29]:
my_list[1]

'b'

In [30]:
# Mendapatkan elemen ke 2 sampai terakhir
my_list[1:]

['b', 'c', 'd']

In [31]:
my_list[:1]

['a']

In [32]:
# Mengganti elemen pertama di my_list dengan 'NEW'
my_list[0] = 'NEW'

In [33]:
my_list

['NEW', 'b', 'c', 'd']

In [34]:
# Didalam list bisa disisipi list, yang disebut nested list
nest = [1,2,3,[4,5,['target']]]

In [35]:
nest[3]

[4, 5, ['target']]

In [36]:
nest[3][2]

['target']

In [37]:
nest[3][2][0]

'target'

### Dictionaries
Dictionary. Dictionary adalah tipe data yang anggotanya terdiri dari pasangan kunci:nilai (key:value) . Dictionary bersifat tidak berurut (unordered) sehingga anggotanya tidak memiliki indeks. Dictionary dibuat dengan menempatkan anggotanya di dalam tanda kurung kurawal { }, dipisahkan oleh tanda koma.

In [38]:
d = {'key1':'item1','key2':'item2'}

In [39]:
d

{'key1': 'item1', 'key2': 'item2'}

In [40]:
# Mendapatkan value di key
d['key1']

'item1'

### Booleans
Tipe data ini hanya bisa diisi dengan salah satu dari 2 nilai: True atau False. Tipe data boolean bisa dipakai untuk menampung kondisi seperti ini, yakni benar atau salah (True atau False)

In [41]:
True

True

In [42]:
False

False

### Tuples 
Tuple dalam Python adalah stuktur data yang digunakan untuk menyimpan sekumpulan data seperti *list*. Tidak seperti list, Tuple bersifat immutable, artinya isi tuple tidak bisa kita ubah dan hapus. Namun, dapat kita isi dengan berbagai macam nilai dan objek.

In [43]:
t = (1,2,3)

In [44]:
t[0]

1

In [45]:
# Tidak seperti list, nilai didalam tupple tidak bisa diubah, dan menghasilkan Error
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets
Set adalah koleksi elemen *unik* atau beda-beda yang tidak teratur. Kita dapat membangunnya dengan menggunakan fungsi set() atau dengan menambahkan {} diantara sekumpulan angka. Kita buat satu set untuk melihat cara kerjanya

In [46]:
{1,2,3}

{1, 2, 3}

In [47]:
# Ingat, set hanya terdiri dari angka-angka unique/beda
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

<h3> Table of Comparison Operators </h3><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [48]:
1 > 2

False

In [49]:
1 < 2

True

In [50]:
1 >= 1

True

In [51]:
1 <= 4

True

In [52]:
1 == 1

True

In [53]:
'hi' == 'bye'

False

## Logic Operators
Dalam logic operators, jika dihubungkan dengan <code>and</code> maka akan benar jika kedua statementnya benar
jika dihubungkan dengan <code>or</code> maka akan benar jika salah satu statementnya benar

In [54]:
(1 > 2) and (2 < 3)

False

In [55]:
(1 > 2) or (2 < 3)

True

In [56]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements
    if case1:
        perform action1
    elif case2:
        perform action2
    else: 
        perform action3

In [57]:
if 1 < 2:
    print('Yep!')

Yep!

In [58]:
if 1 < 2:
    print('yep!')

yep!

In [59]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [60]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [61]:
if 1 == 2:
    print('first')
elif 3 == 4:
    print('middle')
else:
    print('Last')

Last

## for Loops
Loop <code>for</code> bertindak sebagai iterator di Python; ia menelusuri item-item yang ada dalam *urutan* atau item lain yang dapat diulang. Objek yang telah kita pelajari tentang yang bisa kita <i>ulangi</i> mencakup string, list, tuple, dan bahkan iterables bawaan untuk dictionary, seperti kunci/key atau nilai/value.

Berikut format umum untuk loop <code>for</code> dengan Python:

    for item in object:
        statements to do stuff

In [62]:
seq = [1,2,3,4,5]

In [63]:
for item in seq:
    print(item)

1
2
3
4
5

In [64]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [65]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops
Pernyataan <code>while</code> dalam Python adalah salah satu cara paling umum untuk melakukan iterasi. Pernyataan <code>while</code> akan berulang kali mengeksekusi satu statement/code atau sekelompok statement/code selama kondisinya benar. Alasan ini disebut 'loop' adalah karena pernyataan kode berulang melalui perulangan sampai kondisi tidak lagi terpenuhi.

Format umum loop sementara adalah:

    while test:
        code statements
    else:
        final code statements

In [66]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

Kita dapat menggunakan pernyataan <code>break</code>, <code>continue</code>, dan <code>pass</code> di loop untuk menambahkan fungsionalitas tambahan untuk berbagai kasus. Tiga pernyataan didefinisikan oleh:

     break: Breaks out of the current closest enclosing loop.
     continue: Goes to the top of the closest enclosing loop.
     pass: Does nothing at all.

Format umumnya adalah sebagai berikut:

    while test: 
        code statement
        if test: 
            break
        if test: 
            continue 
    else:

In [67]:
x = 0

while x < 5:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x==3
x is currently:  3
 x is still less than 10, adding 1 to x
continuing...
x is currently:  4
 x is still less than 10, adding 1 to x
continuing...

## range()
Fungsi rentang memungkinkan Anda untuk dengan cepat *menghasilkan* daftar bilangan bulat, ini sangat berguna, jadi perhatikan cara menggunakannya! Ada 3 parameter yang bisa Anda berikan yaitu, mulai, berhenti, dan ukuran langkah. Mari kita lihat beberapa contoh:

In [68]:
range(0,11,2) #range(mulai,berhenti,step)
print(list(range(0,11,2)))

[0, 2, 4, 6, 8, 10]

In [69]:
# Penggunaan Range dalam For Loop
for i in range(5):
    print(i)

0
1
2
3
4

In [70]:
# Untuk menampilkan range, maka harus diubah ke bentuk list
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension
Selain membuat list dengan penulisan biasa ataupun menggunakan range, Python menyertakan operasi yang lebih mutakhir yang disebut *list comprehension*.

*list comprehension* memungkinkan kita membuat list menggunakan notasi yang berbeda. Kamu bisa menganggapnya sebagai satu baris <code>for</code> loop yang dibangun di dalam tanda kurung. Sebagai contoh sederhana:

In [71]:
x = [1,2,3,4]

In [72]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [73]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions
Fungsi akan menjadi salah satu level paling dasar dari menggunakan kembali kode dalam Python,
Kita mulai dengan <code>def</code> lalu spasi diikuti dengan nama fungsi. Usahakan agar nama tetap relevan, misalnya len () adalah nama yang bagus untuk fungsi length (). Berhati-hatilah dengan nama, kamu tidak ingin memanggil fungsi dengan nama yang sama dengan fungsi bawaan dengan Python (seperti len).

    def my_func

Berikutnya adalah sepasang tanda kurung dengan sejumlah argumen yang dipisahkan oleh koma. Argumen ini adalah input untuk fungsi kamu. Kamu dapat menggunakan input ini dalam fungsi kamu dan referensi mereka. Setelah ini, kamu tambahkan titik dua.

    def my_func():
    #untuk fungsi tanpa inputan atau
    
    def my_func(param1):
    #untuk fungsi dengan inputan atau
    
    def my_func(param1='default'):
    #untuk fungsi dengan inputan yang memiliki default value

Kamu harus membuat indentasi untuk memulai kode di dalam fungsi kamu dengan benar. Python menggunakan *whitespace* untuk mengatur kode. Banyak bahasa pemrograman lain tidak melakukan ini, jadi ingatlah itu.

Selanjutnya kamu akan melihat docstring, ini adalah tempat kamu menulis deskripsi dasar dari fungsi. Menggunakan iPython dan iPython Notebooks, kamu akan dapat membaca dokumen-dokumen ini dengan menekan Shift + Tab setelah nama fungsi. Dokumen tidak diperlukan untuk fungsi-fungsi sederhana, tetapi praktik yang baik untuk membuatnya agar kamu atau orang lain dapat dengan mudah memahami kode yang kamu tulis.

    def my_func(param1='default'):
        """
        Docstring goes here.
        """
    print(param1)


Setelah semua ini, kamu mulai menulis kode yang ingin kamu jalankan.

In [74]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [75]:
my_func

In [76]:
my_func()

default

In [77]:
my_func('new param')

new param

In [78]:
my_func(param1='new param')

new param

In [79]:
def square(x):
    return x**2

In [80]:
out = square(2)

In [81]:
print(out)

4

## lambda expressions
Salah satu alat Python yang paling berguna (dan untuk pemula, membingungkan) adalah ekspresi lambda. ekspresi lambda memungkinkan kita untuk membuat fungsi "anonim". Ini pada dasarnya berarti kita dapat dengan cepat membuat fungsi ad-hoc tanpa perlu mendefinisikan fungsi dengan benar menggunakan def.

Objek fungsi yang dikembalikan (return) dengan menjalankan ekspresi lambda bekerja seperti yang dibuat dan ditugaskan oleh def. Ada perbedaan utama yang membuat lambda berguna dalam peran khusus:

**lambda adalah ekspresi tunggal, bukan blok pernyataan/statement/code.**

* lambda mirip dengan apa yang akan kita masukkan dalam pernyataan pengembalian/return def. Kita cukup mengetik hasilnya sebagai ekspresi daripada secara eksplisit mengembalikannya/menggunakan return. Karena terbatas pada ekspresi, lambda kurang umum daripada def. lambda dirancang untuk mengkode fungsi-fungsi sederhana, dan def menangani tugas-tugas yang lebih besar.

In [82]:
def times2(var):
    return var*2

In [83]:
times2(2)

4

In [84]:
lambda var: var*2

## map and filter
Fungsi **map** memungkinkan Anda untuk "memetakan" fungsi ke objek yang dapat diiterasi. Artinya kamu dapat dengan cepat memanggil fungsi yang sama untuk setiap item iterable, seperti list. Sebagai contoh:

In [85]:
seq = [1,2,3,4,5]

In [86]:
map(times2,seq)

In [87]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

Fungsi filter mengembalikan iterator yang menghasilkan item-item iterable yang fungsinya benar/<code>True</code>. Berarti kamu bisa memfilter berdasarkan fungsi yang mengembalikan/return-nya <code>True</code> atau <code>False</code>.

In [88]:
def cek_genap(num):
    if num % 2 == 0:
        return True
    else:
        return False

angka = [1,2,3,4,5,6,7,8,9,10]
angka_genap = filter(cek_genap,angka)
# Harus diubah ke list
print(list(angka_genap))

[2, 4, 6, 8, 10]

## methods
Metode pada dasarnya adalah fungsi yang dibangun menjadi objek. Nanti kita akan belajar tentang cara membuat objek dan metode kita sendiri menggunakan Object Oriented Programming (OOP) dan class.

Metode melakukan tindakan spesifik pada suatu objek dan juga dapat mengambil argumen, seperti fungsi. 
Metode dalam bentuk:

     object.method (arg1, arg2, dll ...)

In [89]:
st = 'hello my name is Sam'

In [90]:
st.lower()

'hello my name is sam'

In [91]:
st.upper()

'HELLO MY NAME IS SAM'

In [92]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

## Nested Statements and Scope

Gagasan scope dalam kode sangat penting untuk dipahami untuk menetapkan dan memanggil nama variabel dengan benar.
Secara sederhana, gagasan scope dapat dijelaskan oleh 3 aturan umum:

1. Penetapan nama akan membuat atau mengubah nama lokal secara default.
2. Pencarian referensi nama di 4 scope yaitu:
    * lokal
    * enclosing function
    * global
    * built-in
3. Nama-nama yang dideklarasikan dalam pernyataan global dan nonlokal memetakan nama yang ditugaskan untuk melampirkan cakupan modul dan fungsi.


Pernyataan dalam #2 di atas dapat didefinisikan oleh aturan LEGB.

**Aturan LEGB:**

L: Lokal - Nama diberikan dengan cara apa pun dalam suatu fungsi (def atau lambda), dan tidak dinyatakan global dalam fungsi itu.  
E: Enclosing function locals - Nama dalam lingkup lokal dari setiap dan semua enclosing functions (def atau lambda), dari dalam ke luar.  
G: Global (modul) - Nama yang ditetapkan di tingkat atas file modul, atau dideklarasikan global dalam def di dalam file.  
B: Built-in (Python) - nama-nama built-in: open, range, SyntaxError, ...

In [93]:
x = 50

def functionn():
    global x
    print('This function is now using the global x!')
    print('Because of global x is: ', x)
    x = 2**2
    print('Ran func(), changed global x to', x)

print('Before calling func(), x is: ', x)
functionn()
print('Value of x (outside of func()) is: ', x)

Before calling func(), x is:  50
This function is now using the global x!
Because of global x is:  50
Ran func(), changed global x to 4
Value of x (outside of func()) is:  4

## *args

Ketika parameter fungsi dimulai dengan tanda bintang, ia memungkinkan untuk memberikan fungsi dengan argumen dalam *jumlah arbitrer*, dan fungsi menganggapnya sebagai <code>tuple</code> nilai.

In [94]:
def myfunc(*nums):
    return sum(nums)*.05

myfunc(40,60,20)

6.0

## ** kwargs

Demikian pula, Python menawarkan cara untuk menangani angka arbitrase dari *argumen* kata kunci. Daripada membuat tuple nilai, `**kwargs` membangun kamus (dictionary) pasangan kunci(key)/ nilai(value). Sebagai contoh:

In [95]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print(f"My favorite fruit is {kwargs['fruit']}")
    else:
        print("I don't like fruit")
        
myfunc(fruit = 'manggo')
myfunc(tree = 'palm')

My favorite fruit is manggo
I don't like fruit

# Good, Lanjut OOP!!!

░░░░░░░░░░░░░░░░░░░░░░░░░░░░░  
░░░░░░░░░░░░░▄▄▄▄▄▄▄░░░░░░░░░  
░░░░░░░░░▄▀▀▀░░░░░░░▀▄░░░░░░░  
░░░░░░░▄▀░░░░░░░░░░░░▀▄░░░░░░  
░░░░░░▄▀░░░░░░░░░░▄▀▀▄▀▄░░░░░  
░░░░▄▀░░░░░░░░░░▄▀░░██▄▀▄░░░░  
░░░▄▀░░▄▀▀▀▄░░░░█░░░▀▀░█▀▄░░░  
░░░█░░█▄▄░░░█░░░▀▄░░░░░▐░█░░░  
░░▐▌░░█▀▀░░▄▀░░░░░▀▄▄▄▄▀░░█░░  
░░▐▌░░█░░░▄▀░░░░░░░░░░░░░░█░░  
░░▐▌░░░▀▀▀░░░░░░░░░░░░░░░░▐▌░  
░░▐▌░░░░░░░░░░░░░░░▄░░░░░░▐▌░  
░░▐▌░░░░░░░░░▄░░░░░█░░░░░░▐▌░  
░░░█░░░░░░░░░▀█▄░░▄█░░░░░░▐▌░  
░░░▐▌░░░░░░░░░░▀▀▀▀░░░░░░░▐▌░  
░░░░█░░░░░░░░░░░░░░░░░░░░░█░░  
░░░░▐▌▀▄░░░░░░░░░░░░░░░░░▐▌░░  
░░░░░█░░▀░░░░░░░░░░░░░░░░▀░░░  
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░